body {
	margin:0;
}

/** BACKGROUND **/

#background {
	position:absolute;
	left:530px;
}

/** TEXT **/
.htext {
	font-family: 'Anton', sans-serif;

	position: absolute;
	right:90px;
	top:100px;
}

#nav_bar {
	letter-spacing: 2.5px;
	font-size: 24px;

	position:absolute;
	left:75px;
	top:30px;
}

#sidenav1 {
	width: 100vw;
	height: 100vh;
	/**display:flex;
	flex-direction: column; */


}

#horizontal {
	position:absolute;
	top:30px;
	left:345px;
	transform:scaleX(0.8);
}

#three {
	font-size: 60px;

	position:absolute;
	left:75px;
	top: 300px;
}

#l1 {
	position:absolute; 
	left:-210px; 
	top: 147px;
}

#welcome {
	letter-spacing: 2.5px;
	font-size: 24px;
	position:absolute;
	left:-1125px;
	top:-600px;

	transform:rotate(-90deg);
}

#textblock {
	transform:scale(0.9);
	position:absolute;
	left:700px;
	top:30px;
}

/** PICTURE **/
#polaroid {
	position:absolute;
	transform:scale(0.9);
	left:230px;
	top:40px;
}

#rect {
	position:absolute;
	left:440px;
	top:205px;

	fill: "#044B94";
	fill-opacity: 0.0;
	stroke-width:5;
	stroke:rgb(255,255,255);
}

/** TEXT **/

